body {
    font-family: monospace;
    font-size: 4em;
    background-color: #222;
}

pre {
    padding: 0 1ch;
    width: 1024px;
    height: 1024px;
    color: white;
    background-color: black;
}

::placeholder {
    font-family: monospace;
    font-size: 125%;
    opacity: 1; /* Firefox */
}

a {
    text-decoration: none
}

input[type="text"] {
    height: 1em;
    text-align: left;
	  color: cyan;
    width: 98%;
    font-size: 75%;
	  border: none;
	  outline: none;
    padding: 0.5ch 0;
    background-color: black;
}

table
{
    table-layout: fixed;
    width: 70%;
    margin-left: 3ch;
}

.label {
    width: 40%;
    height: 1.5em;
    color: lime;
    text-align: right;
}

.cancel {
    background-color: grey;
    color: black;
    float: right;
}

.next {
    float: right;
    margin-right: 6ch;
}

.prompt {
    background-color: blue;
    color: white;
    margin-left: 5%;
    width: 90%;
    height: 8ch;
}

.end {
    background-color: yellow;
    color: blue;
    font-weight: bold;
    width: 80%;
    margin-left: 10%;
}

.Y {
    color: yellow;
}

.C {
    color: cyan;
}

.K {
    background-color: white;
    color: black;
}

.G {
    color: grey;
}

.L {
    color: lime;
}

.B {
    color: blue;
    background-color: yellow;
}

.W {
    color: white;
}
